<?xml version="1.0"?>
<launch>
    
    <!--Arguments-->
    <arg name="r_name" default="racecar1"/>

    <param name="/$(arg r_name)/robot_num" value="1"/>

    <!--Parameters: load the Q-learning hyperparameters (max_num_episodes, alpha, gamma,
        epsilon, ...) and the environment/window params the agent needs to discretize state.
        Without these the master aborts on startup with KeyError: 'max_num_episodes'.
        (These are also loaded by env.launch; loading them here too is harmless and makes
        this launch usable on its own.) -->
    <rosparam file="$(find racecar_clear_ev_route)/config/single_agent_qlearning_master_config.yaml" command="load" ns="/$(arg r_name)"/>
    <rosparam file="$(find racecar_rl_environments)/config/racecar_clear_ev_route_basic_env_config.yaml" command="load"/>


    <node name="single_agent_qlearning_master" pkg="racecar_clear_ev_route" type="single_agent_qlearning_master.py" output="screen" ns="/$(arg r_name)">
    </node>

    <!--<node name="clear_ev_route_basic_env" pkg="racecar_rl_environments" type="racecar_clear_ev_route_basic_env.py" output="screen">
    </node>-->

</launch>
